.bounce {
  animation: bounce-anim 0.6s 1 forwards;
  animation-delay: 500ms;
}

@keyframes bounce-anim {
  0% {
    transform: translateY(calc(50vh - 90px)) scale(20%);
  }
  30% {
    transform: translateY(calc(50vh - 100px)) scale(20%);
    transition-timing-function: ease-out;
  }
  60% {
    transform: translateY(calc(50vh - 90px)) scale(20%);
    transition-timing-function: ease-in;
  }
  90% {
    transform: translateY(calc(50vh - 93px)) scale(20%);
    transition-timing-function: ease-out;
  }
  100% {
    transform: translateY(calc(50vh - 90px)) scale(20%);
    transition-timing-function: ease-in;
  }
}
